/* .submit,
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* 
p {
    margin: 0;
} */

h1 {
    color: #64D77E;
    font-size: 3rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    padding: 0.5rem;
}

label {
    color: #64D77E;
    font-size: 2rem;
    -webkit-text-stroke-color: black;
    padding: 0.5rem;
}

.input-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 
input[type=checkbox] {
    appearance: none;
    background-color: black;
    color: #64D77E;
} */

/* 
.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
} */

/* input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -10px;
} */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

/* 
.wrapper.ex1 {
    margin-top: 25px;
} */

/* input {
    border-radius: 0px;
    border-color: rgb(52, 147, 231);
    border-style: solid;
    padding: 3pt;
    padding-left: 5px;
    padding-right: 5px;
    padding-left: 0rem;
    margin: 0.3rem;
    font-size: 1em;
} */
/* 
.input:active {
    border-radius: 0px;
    border-color: rgb(3, 74, 116);
    border-style: solid;
    border-radius: 0px;
} */

/* .calculate {
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 147, 231);
    background-color: rgb(169, 198, 249);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.3rem;
    margin: 0.5rem;
} */
/* 
.calculate:hover {
    background-color: rgb(52, 147, 231);
    border-color: rgb(169, 198, 249);
}

.calculate:active {
    background-color: rgb(169, 198, 249);
} */
/* 
.submit,
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .row:after {
    content: "";
    display: table;
    clear: both;
} */

/* .header {
    text-align: center;
} */
/* 
.calculate {
    border-radius: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(52, 147, 231);
    background-color: rgb(169, 198, 249);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 0.3rem;
    margin: 0.4rem;
}

.calculate:hover {
    background-color: rgb(52, 147, 231);
    border-color: rgb(169, 198, 249);
}

.calculate:active {
    background-color: rgb(169, 198, 249);
} */

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20rem;
    text-align: center;
    margin: 0.5rem;
    /* border-radius: 15%; */
    font-size: 3rem;
    font-weight: bold;
    background-color: black;
    color: #64D77E;
    border: 2px solid #64D77E;
}